.main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.thread {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgb(240, 253, 244);
  width: 50vw;
  border: solid;
  border-color: #4ade80;
  margin: "10px 10px";
}
